# Copyright (C) 2021 Xiaoxindada <2245062854@qq.com>

on post-fs-data
    mkdir /apex/com.android.adbd 0777 root root
    mkdir /apex/com.android.mediaprovider 0777 root root
    mkdir /apex/com.android.neuralnetworks 0777 root root
    mkdir /apex/com.android.appsearch 0777 root root
    mkdir /apex/com.android.os.statsd 0777 root root
    mkdir /apex/com.android.permission 0777 root root
    mkdir /apex/com.android.art 0777 root root
    mkdir /apex/com.android.resolv 0777 root root
    mkdir /apex/com.android.cellbroadcast 0777 root root
    mkdir /apex/com.android.runtime 0777 root root
    mkdir /apex/com.android.conscrypt 0777 root root
    mkdir /apex/com.android.cronet 0777 root root
    mkdir /apex/com.android.sdkext 0777 root root
    mkdir /apex/com.android.telephony 0777 root root
    mkdir /apex/com.android.apex.cts.shim 0777 root root
    mkdir /apex/com.android.tethering 0777 root root
    mkdir /apex/com.android.extservices 0777 root root
    mkdir /apex/com.android.tzdata3 0777 root root
    mkdir /apex/com.android.geotz 0777 root root
    mkdir /apex/com.android.i18n 0777 root root
    mkdir /apex/com.android.vndk.v29 0777 root root
    mkdir /apex/com.android.ipsec 0777 root root
    mkdir /apex/com.android.vndk.v30 0777 root root
    mkdir /apex/com.android.media 0777 root root
    mkdir /apex/com.android.media.swcodec 0777 root root
    mkdir /apex/com.android.wifi 0777 root root
    
    mount none /system/apex/com.android.adbd /apex/com.android.adbd bind
    mount none /system/apex/com.android.mediaprovider /apex/com.android.mediaprovider bind
    mount none /system/apex/com.android.neuralnetworks /apex/com.android.neuralnetworks bind
    mount none /system/apex/com.android.appsearch /apex/com.android.appsearch bind
    mount none /system/apex/com.android.os.statsd /apex/com.android.os.statsd bind
    mount none /system/apex/com.android.permission /apex/com.android.permission bind
    mount none /system/apex/com.android.art /apex/com.android.art bind
    mount none /system/apex/com.android.resolv /apex/com.android.resolv bind
    mount none /system/apex/com.android.cellbroadcast /apex/com.android.cellbroadcast bind
    mount none /system/apex/com.android.runtime /apex/com.android.runtime bind
    mount none /system/apex/com.android.conscrypt /apex/com.android.conscrypt bind
    mount none /system/apex/com.android.cronet /apex/com.android.cronet bind
    mount none /system/apex/com.android.sdkext /apex/com.android.sdkext bind
    mount none /system/apex/com.android.telephony /apex/com.android.telephony bind
    mount none /system/apex/com.android.cts.shim.apex /apex/com.android.apex.cts.shim bind
    mount none /system/apex/com.android.tethering /apex/com.android.tethering bind
    mount none /system/apex/com.android.extservices /apex/com.android.extservices bind
    mount none /system/apex/com.android.tzdata3 /apex/com.android.tzdata3 bind
    mount none /system/apex/com.android.geotz /apex/com.android.geotz bind
    mount none /system/apex/com.android.i18n /apex/com.android.i18n bind
    mount none /system/apex/com.android.vndk.v29 /apex/com.android.vndk.v29 bind
    mount none /system/apex/com.android.ipsec /apex/com.android.ipsec bind
    mount none /system/apex/com.android.vndk.v30 /apex/com.android.vndk.v30 bind
    mount none /system/apex/com.android.media /apex/com.android.media bind
    mount none /system/apex/com.android.media.swcodec /apex/com.android.media.swcodec bind
    mount none /system/apex/com.android.wifi /apex/com.android.wifi bind
    
    mkdir /apex/com.android.vndk.vS 0777 root root
    mount none /system/apex/com.android.vndk.current /apex/com.android.vndk.vS bind

    mount none /system/apex/com.google.android.adbd /apex/com.android.adbd bind
    mount none /system/apex/com.google.android.art /apex/com.android.art bind
    mount none /system/apex/com.google.android.cellbroadcast /apex/com.android.cellbroadcast bind
    mount none /system/apex/com.google.android.conscrypt /apex/com.android.conscrypt bind
    mount none /system/apex/com.google.android.extservices /apex/com.android.extservices bind
    mount none /system/apex/com.google.android.ipsec /apex/com.android.ipsec bind
    mount none /system/apex/com.google.android.media /apex/com.android.media bind
    mount none /system/apex/com.google.android.mediaprovider /apex/com.android.mediaprovider bind
    mount none /system/apex/com.google.android.media.swcodec /apex/com.android.media.swcodec bind
    mount none /system/apex/com.google.android.neuralnetworks /apex/com.android.neuralnetworks bind
    mount none /system/apex/com.google.android.os.statsd /apex/com.android.os.statsd bind
    mount none /system/apex/com.google.android.permission /apex/com.android.permission bind
    mount none /system/apex/com.google.android.resolv /apex/com.android.resolv bind
    mount none /system/apex/com.google.android.sdkext /apex/com.android.sdkext bind
    mount none /system/apex/com.google.android.telephony /apex/com.android.telephony bind
    mount none /system/apex/com.google.android.tethering /apex/com.android.tethering bind
    mount none /system/apex/com.google.android.tzdata3 /apex/com.android.tzdata3 bind
    mount none /system/apex/com.google.android.wifi /apex/com.android.wifi bind
