#################################################################################
### VENDOR_EDIT, OEM All rights reserved.
###
### File: - init.oem.rc
### Author: jiangyonggao
### all oem triger & init are here
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### jiangyg@PM                     2013-10-21                Create this file
##################################################################################
#Load WLAN driver

on fs

    #yankelong add
    chown system system /sys/class/leds/vibrator/haptic_audio_ai_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_size
    chown audioserver audioserver /sys/class/leds/vibrator/register
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 660 /sys/class/leds/vibrator/vmax_mv
    chmod 660 /sys/class/leds/vibrator/rtp
    chmod 660 /sys/class/leds/vibrator/haptic_audio_tp_time
    chmod 644 /sys/class/leds/vibrator/haptic_osc_data
    chmod 660 /sys/class/leds/vibrator/ram_test
    chmod 644 /sys/class/leds/vibrator/ram_update
    chmod 644 /sys/class/leds/vibrator/f0_cali_data
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/rf_hz
    chown system system /sys/class/leds/vibrator/lra_resistance
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/activate_mode
    chown system system /sys/class/leds/vibrator/seq
    chown system audio /sys/class/leds/vibrator/rtp
    chown system audio /sys/class/leds/vibrator/haptic_audio_tp_time
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/osc_cali
    chown system system /sys/class/leds/vibrator/haptic_osc_data
    chown system system /sys/class/leds/vibrator/ram_test
    chown system system /sys/class/leds/vibrator/ram_update
    chown system system /sys/class/leds/vibrator/f0_cali_data
#ifdef VENDOR_EDIT
#    /* 20200330 david shih */
    chown system system /sys/module/proc/parameters/dbg_buf
#endif
    chown system system /sys/class/leds/vibrator/cali
    chown system system /sys/module/lpm_levels/parameters/sleep_disabled
    restorecon /sys/class/leds/vibrator/activate
    restorecon /sys/class/leds/vibrator/brightness
    restorecon /sys/class/leds/vibrator/duration
    restorecon /sys/class/leds/vibrator/state

#ifdef VENDOR_EDIT
#   BSP add for display  2020/04/17 @Leo_BSP
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
#endif

on init
    setprop vendor.boot.verifiedbootstate ${ro.boot.verifiedbootstate}
    setprop vendor.boot.hw_version ${ro.boot.hw_version}

on post-fs-data
    mkdir /data/vendor/oemnvitems 0771 radio radio
    #brandon.zeng@Conn,2020/08/11. move data path to post-fs-data
    mkdir /data/vendor/nfc 0770 nfc nfc
    # Ted.Lin@ASTI 2019/06/12 add for CONFIG_HOUSTON
    chown system system /sys/module/houston/parameters/fps_boost
    chown system system /sys/module/houston/parameters/fps_data_sync
    chown system system /sys/module/houston/parameters/perf_ready
    chown system system /sys/module/houston/parameters/ais_enable
    chown system system /sys/module/houston/parameters/sample_rate_ms
    chown system system /sys/module/houston/parameters/ht_enable
    chown system system /sys/module/houston/parameters/fps_boost_enable
    chown system system /sys/module/houston/parameters/fps_boost_strategy
    chown system system /sys/module/houston/parameters/tb_ctl
    chown system system /sys/module/houston/parameters/tb_enable
    chown system system /sys/module/houston/parameters/reset
    chown system system /sys/module/houston/parameters/hwui_boost_enable
    chown system system /sys/module/houston/parameters/fuse_boost
    chown system system /dev/ht_ctl
    chown system system /sys/module/pccore/parameters/params
    chown system system /sys/module/tpd/parameters/tpd_enable
    chown system system /sys/module/tpd/parameters/tpd_cmds
    chown system system /sys/module/tpd/parameters/tpd_id
    chown system system /sys/module/tpd/parameters/tpd_dynamic
    chown system system /sys/module/fuse/parameters/shortcircuit
    chown system system /sys/module/fuse/parameters/sct_mode
    # fps stabilizer
    chown system system /sys/module/houston/parameters/efps_max
    chown system system /sys/module/houston/parameters/fps_boost_strategy
    chown system system /sys/module/houston/parameters/egl_buf
    chown system system /sys/module/houston/parameters/ht_online_config_update

# Ted.Lin@ASTI 2019/06/12 add for CONFIG_CONTROL_CENTER
    chown system system /dev/cc_ctl
    chown system system /proc/cc_ctl

    # neil.sun@Connectivity, 2020/08/12, add for wifi minidump
    mkdir /data/vendor/ramdump/wifi 0770 system system

#if OP_FEATURE_MM_ADSP_MINIDUMP == 1
# zhangrun@MM, 2020/09/12, implement to collect adsp minidump
    mkdir /data/vendor/ramdump/adsp 0770 system system
# endif

#ifdef VENDOR_EDIT
#brandon.zeng@Conn,2020/05/08. add for nfc pnscr tool
service nfctransmitstart /system/bin/sh /system/xbin/nfc_trasmit_start.sh
    class late_start
    user nfc
    group nfc
    disabled
    oneshot

service nfctransmitstop /system/bin/sh /system/xbin/nfc_trasmit_stop.sh
    class late_start
    user nfc
    group nfc
    disabled
    oneshot

on property:nfc.transmit.start=1
    start nfctransmitstart

on property:nfc.transmit.start=0
    stop nfctransmitstart

on property:nfc.transmit.stop=1
    start nfctransmitstop

on property:nfc.transmit.stop=0
    stop nfctransmitstop
#endif

#oscar.wei@SYSTEM, 2019/10/02, [AN-604] opdiagnose porting : create opdiagnose service
service opdiagnose /system_ext/bin/OPDiagnoseservice
    class core
    user root
    group system