
on fs
    rm /cache/boot_logcat.txt
    rm /cache/boot_dmesg.txt

    start boot_lc_main
    start boot_dmesg

service boot_lc_main /system/bin/logcat -v time -f /cache/boot_logcat.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_dmesg /system/bin/sh -c "dmesg -w > /cache/boot_dmesg.txt"
    class main
    user root
    group root system
    disabled
    oneshot

